* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-image: url("Stupa_Borobudur.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.justify {
    width: 700px;
    height: 500px;
    background-image: url("avocado.jpg");
    color: blue;
    text-align: justify;
    border: 5px solid red;
    padding-top: 20px;
    margin: 20px 0px 20px 0px;
}

.repeat {
    width: 700px;
    height: 500px;
    background-image: url("avocado.jpg");
    border: 5px solid red;
    background-repeat: repeat-x;
}